Flask>=3.0.0
Flask-SocketIO
Flask-Login>=0.6.3
pandas>=2.0.0
numpy>=1.24.0
python-dotenv>=1.0.0
Authlib>=1.3.0
requests>=2.31.0
pyarrow
filelock
celery
redis
orjson
flower
joblib
supabase>=2.3.0
pydantic>=2.0.0
scikit-learn>=1.3.0
flaml[automl]>=2.1.0
ydata-profiling>=4.6.0
weasyprint>=61.0
gspread
spacy
watchdog
openpyxl>=3.1.0
shap>=0.44.0
